.set {display:block;max-width:768px;margin:0 auto 30px;line-height:2;padding-left:30px}
.set h3 {font-size:22px;font-weight:500;margin:15px 0 20px}
.set a {display:inline-block;position:relative;color:#424242;padding:5px 5px;}
.set a::before {content:"";position:absolute;width:0;right:0;bottom:0;height:2px;background:#2196F3}
.set a:hover {color:#2196F3!important}
.set .category-list-item,.set .tag-list-item {display:inline-block;font-size:17px;text-align:left}
.set .category-list-item .category-list-count,.set .category-list-item .tag-list-count,.set .tag-list-item .category-list-count,.set .tag-list-item .tag-list-count {color:#9E9E9E;font-style:normal}
.set .category-list-item .category-list-count::before,.set .category-list-item .tag-list-count::before,.set .tag-list-item .category-list-count::before,.set .tag-list-item .tag-list-count::before {content:"["}
.set .category-list-item .category-list-count::after,.set .category-list-item .tag-list-count::after,.set .tag-list-item .category-list-count::after,.set .tag-list-item .tag-list-count::after {content:"]"}
.set .category-list-item {width:30%;margin:5px 0}@media screen and (max-width:768px) {.set .category-list-item {width:100%}}
.set .tag-list-item {margin:10px 20px}
.set .search .search-input {width: 100%;height: 42px;background: transparent;border: 0px;border-bottom:2px solid #6558BC;font-size:20px;padding-top: 20px;}
.set .search .search-input[type=text]:focus{outline: none;border: 0px;border-bottom:2px solid #6558BC;}
.set .search .local-search-result {margin-top:30px;}
.set .search .search-result-list {padding:0;margin: 0;}
.set .search .search-result-title {font-size:23px;}
.set .search .search-result {}
.set .search .search-keyword {background:yellow;padding:2px auto 2px;}
.set .search li {list-style: none; margin: 0;border-bottom:1px dashed #E3E3E3;}

